* {
    margin: 0;
    padding: 0;
}

spis {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

postac {
    display: block;
    width: 200px;
    background-color: var(--tlo4);
    padding: 20px;
    box-shadow: 0px 0px 5px 3px var(--tlo4);
}

imie {
    color: var(--em1);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

em {
    color: var(--em2);
    font-weight: bold;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: var(--tlo2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

main {
    margin: 0px 40px;
    color: var(--tekst);
    padding: 30px;
    background-color: var(--tlo3);
}

banner {
    display: block;
    width: 100vw;
    height: 40vh;
    background-color: var(--em2);
    // background-image: url('');
    background-size: cover;
    background-position: center;
}

.klany {
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    padding: 7px 20px;
    background-color: var(--tlo4);
    color: #fff!important;
    border-bottom: 1px solid var(--em1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

nav a {
    color: var(--em1);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

a {
    color: var(--em1);
    text-decoration: none;
}

a:hover {
    color: var(--em3)
}

h1 {
    padding: 50px 0px;
    border:1px solid var(--tlo4);
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    color: var(--em2);
    background-color: var(--tlo4);
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

footer {
    text-align: center;
    color: var(--tekst2);
    background: var(--tlo4);
    padding: 10px 0px;
    font-size: 12px;
    margin: 0 40px
}

/** ROOT COLORS **/
:root {
    --tlo1: #373737;
    --tlo2: #2e2e2e;
    --tlo3: #242424;
    --tlo4: #1C1C1C;
    --tekst: #bdbdbd;
    --em1: #C1D48E;
    --em2: #96C433;
    --em3: #a5c462;
    --grom:#FFCE7A;
    --cien:#E38F9C;
    --rzeka:#7898FF;
    --wicher:#A3E0D5;
    --pnk:#ffffff;
    --samotnik:#7DBF65;
    --npc:#BE8EF5;
    --pustka:#6C8570;
    --pwl:#886CAB;
    --gk:#5C5AA6;
    --cl:#8F534B;
    --nkt:#828282;
    --border: 1px #1C1C1C solid;
    --scrollthumb: #7e7e7f;
    --tekst2: #eee;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
