

/** ROOT COLORS **/
:root {
    --tlo1: #373737;
    --tlo2: #2e2e2e;
    --tlo3: #242424;
    --tlo4: #1C1C1C;
    --tekst: #bdbdbd;
    --em1: #C1D48E;
    --em2: #96C433;
    --em3: #a5c462;
    --grom:#FFCE7A;
    --cien:#E38F9C;
    --rzeka:#7898FF;
    --wicher:#A3E0D5;
    --plemie:#ffffff;
    --samotnik:#7DBF65;
    --npc:#BE8EF5;
    --pustka:#6C8570;
    --pwl:#886CAB;
    --gk:#5C5AA6;
    --cl:#8F534B;
    --nkt:#828282;
    --Poppins1: 12px 'Poppins';
    --border: 1px #1C1C1C solid;
    --scrollthumb: #7e7e7f;
    --tekst2: #eee;
}